<form class="example-form">
    <mat-form-field class="example-full-width">
      <input type="text" placeholder="Pick one" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto">
      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
          {{option}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
</form>


<!-- as you can take values from a fuction at .ts file of the component and simply call it in your html file as below:
myControl = new FormControl();
  options: string[] = ['Mary', 'Shally', 'Igor'];

  and can call it in the html  
  <mat-option *ngFor="let option of options" [value]="option">{{option}}</mat-option>

  here option is local variable of the function optoins. which we have to give in the [value] nad finally it'll print the same  using interpolation {{option}}  -->